RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

POSTGRES_USER=harbor
POSTGRES_PASSWORD=harbor123

VESSEL_DB=vessel_db
TASK_DB=task_db

SPRING_RABBITMQ_HOST=rabbitmq
VESSEL_SERVICE_URL=http://vessel-service:8081
TASK_SERVICE_URL=http://task-assignment-service:8084
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
REDIS_ADDR=redis:6379
DRONE_STATE_TTL_SECONDS=30
